<h1 class="text-center my-4">Products</h1>
<div class="container" ng-controller="authController as authCtrl"></div>
    <div class="row">
        
        <!-- Product Cards -->
        <div class="col-md-3 mb-4" ng-repeat="product in vm.products">
            <div class="card">
                <img ng-src="{{product.image}}" alt="{{product.title}}" src="{{product.image}}" class="card-img-top" style="max-height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title text-truncate" style="font-size: 1.1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{product.title}}
                    </h5>
                    <p class="card-text">{{product.price | currency}}</p>
                    <button class="btn btn-primary btn-block" >Add to Cart</button>
                    <button class="btn btn-success btn-block mt-2" >Buy Now</button>
                </div>
            </div>
        </div>
        
        <div class="col-12 text-center mb-3">
            <button class="btn btn-secondary" id="prevBtn"><i class="bi bi-chevron-left"></i> Prev</button>
            <button class="btn btn-secondary" id="nextBtn">Next <i class="bi bi-chevron-right"></i></button>
        </div>

    </div>
</div>
