<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/angular.min.js"></script>
    <script src="../../dist/out-tsc/auth/controller/auth.controller.js"></script>
    <script src="../../dist/out-tsc/auth/auth.module.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="authModule">

    <div class="container d-flex justify-content-center align-items-center min-vh-100" ng-controller="authController as vm">
        <div class="login-container p-4 shadow-sm rounded border">
            <h3 class="text-center mb-4">Login</h3>
            <form ng-submit="vm.validate()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" id="username" placeholder="Enter username" ng-model="vm.user.email"  required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="vm.user.password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="text-center mt-3">
                    <a href="#" class="text-muted">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>