<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/angular.min.js"></script>
    <script src="../../dist/out-tsc/catlog/controller/catlog.controller.js"></script>
    <script src="../../dist/out-tsc/catlog/catlog.module.js"></script>
</head>
<body ng-app="catlogModule">
    <div  ng-controller="catlogController as vm">
        <h1>Products</h1>    
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                </tr>
            </tbody>
        </table>            
    </div>
</body>
</html> -->
<h1>Products</h1>